.euro:before {
	/* Simbolo dell'euro + &nbsp; */
	content: "\20ac\a0";
}

.center {
	text-align: center !important;
}

#prodotti table th .icon-cog {
	margin-left: -10px;
}

td {
	vertical-align: middle !important;
}

#modal_modifica_prodotto .file-input-name {
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row {
	margin-left: 0px;
}

.row h1 {
	display: inline-block;
}

.row .btn {
	margin-top: 15px;
}

#ordini .container {
	padding-bottom: 5px;
}

#ordini .container > .item {
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-left: 10px;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

	box-shadow: 0 0 10px #ddd;

	min-width: 300px;

	overflow: hidden;
}

#ordini .container > .item .modal-overlay {
	z-index: 9;
	position: absolute;

	width: 1000px;
	height: 1000px;

	background-color: rgba(255,255,255,0.6);


}
