.btn-download {
  margin: 20px 0 0;
  position: absolute;
  z-index: 1;
}

#chi_siamo {
  padding-top: 0;
  text-align: center;
}

#chi_siamo p.lead {
  margin-bottom: 60px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 50px;
  box-shadow: 0 0 40px black;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel .item {
  height: 500px;

  background-image: url(../img/bg-index.jpg);
  background-position: 50% top;
  background-repeat: no-repeat;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item .overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0, 0.25);
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
	z-index: 10;
	position: relative;
}

/* Center align the text within the three columns below the carousel */
.marketing [class*="span"] {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing [class*="span"] p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.featurette-image.device {
  margin-bottom: -50px;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 979px) {
  .carousel {
    margin-bottom: -90px;
  }

  .featurette:first-child h2 {
    margin-top: 40px;
  }

  .featurette .featurette-image {
    margin-top: -185px;
  }

  .featurette-image.pull-left.device {
    margin-left: -50px;
  }
  .featurette-image.pull-right.device {
    margin-right: -50px;
  }
}

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  .navbar .navbar-form li a {
    padding: 5px 0 5px 0;
  }

  .navbar {
    margin-bottom: 0px;
  }
  
  .navbar .btn-navbar {
    margin-top: 8px;
  }

  .navbar-wrapper {
    max-height: 100%;
    overflow-y: scroll;

    margin-top: 0;
    padding-top: 5px;
  }

  .navbar-inner {
    border-radius: 0;
    margin: -5px 0;
  }

  .carousel .item {
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }

  .carousel .item {
    height: 350px;
  }

  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing [class*="span"] + [class*="span"] {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}
