/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.img-circle {
  box-shadow: 0 0 10px black;
}

.modal-footer .progress {
  margin-bottom: 0px;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#container {
  padding-top: 75px;
}

.modal form {
  margin: 0;
}

.control-group:last-child {
  margin: 0;
}

.modal-footer .icon-spinner {
  margin-bottom: 0;
}

/* Disabilita la schermata "Felice di rivederti" di Google */
div > div > div > iframe {
  display: none !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  margin-top: 5px;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-nav {
  margin-top: 10px;
}
